<div class="container">
  <div class="row justify-content-md-center justify-content-sm-center">
    <div class="col text-center">
      <h1>Usage</h1>

      <hr>

      <h2>OpenGraph and Metatag Analyzer</h2>
      <p>https://linkpreview.sirtech.io/link_check?url=WEBSITE_URL</p>

      <form action="http://linkpreview.sirtech.io/link_check" method="get">
        <div class="form-group">
          <input type="text" name="url" class="form-control" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" placeholder="https://example.com">
        </div>
        <input type="submit" value="Check Link!" class="btn btn-success">
      </form>

      <hr>

      <h2>Image Dimension Check</h2>
      <p>https://linkpreview.sirtech.io/image_dimension?url=IMAGE_URL</p>

      <form action="https://linkpreview.sirtech.io/image_dimension" method="get">
        <div class="form-group">
          <input type="text" name="url" class="form-control" placeholder="https://example.com/test.png">
        </div>
        <input type="submit" value="Check Image Url!" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
